/************************************
Author: Eric A. Boateng
Title: Super Missile Command Bros.
Created: December 16, 2015
Author URI: http://findtheant.com
Slack: @antwisted
Thanks for visiting! Support GA!
************************************/

@import url('');


/************
CSS RESETS
************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before,
q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video {
	display: block;
}


/************
PAGE ELEMENTS
************/
@font-face {
    font-family: 'super_plumber_brothersregular';
    src: url('super_mario_title-webfont.eot');
    src: url('super_mario_title-webfont.eot?#iefix') format('embedded-opentype'),
         url('super_mario_title-webfont.woff2') format('woff2'),
         url('super_mario_title-webfont.woff') format('woff'),
         url('super_mario_title-webfont.ttf') format('truetype'),
         url('super_mario_title-webfont.svg#super_plumber_brothersregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'emulogicregular';
    src: url('super_mario_font-webfont.eot');
    src: url('super_mario_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('super_mario_font-webfont.woff2') format('woff2'),
         url('super_mario_font-webfont.woff') format('woff'),
         url('super_mario_font-webfont.ttf') format('truetype'),
         url('super_mario_font-webfont.svg#emulogicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#front_bg h1, h2, h3, h4, h5, h6 {
     font-family: 'super_plumber_brothersregular', 'Impact', serif;
     color: #fff;
}

#game_bg {
	font-family: 'emulogicregular';
}

#back_bg {
	font-family: 'emulogicregular';
}

.copyright {
	display: block;
	font-family: 'Arial', serif;
	font-size: .7rem;
	color: #fff;
	text-align: left;
	width: 100%;
	padding: 1%;
}

.titlelink {
	display: inline-block;
	font-family: 'Arial', serif;
	color: #fff;
	text-align: right;
	width: 48%;
	padding: 1%;
}

.box_header {
	padding-bottom: 2rem;
}

.score {

}

.hscore {

}

.yellow {

}

.red {

}

.gametext_big {
	font-family: 'emulogicregular', 'Arial', serif;
	font-size: 1.8rem;
}

.gametext_med {
	font-family: 'emulogicregular', 'Arial', serif;
	font-size: 1.4rem;
}

.gametext_sm {
	font-family: 'emulogicregular', 'Arial', serif;
	font-size: 1rem;
}

body {
	font-size: 10.5pt;
	line-height: 1.4;
	color: #fff;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

button {
	font-family: 'emulogicregular', 'Arial', serif;
	font-size: 1.2rem;
	background: #ff0000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
	margin: 20px;
	padding: 15px 20px;
	/*border-radius: 10px;*/
	box-shadow: 2px 2px #fff;
}

/***
JS Switches


***/


/************
BODY CONTAINERS
************/
video#on_play { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/bulletship_attack.jpg) no-repeat;
    background-size: cover; 
}

#front_bg {
	display: none;
}

#front_container {
	display: none; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%); /* translate (-50%, -50%) */
	min-width: 450px;
	width: 55%;
	min-height: 450px;
	height: 55%;
	background-color: rgba(0, 0, 0, 0.8);
	border: 5px solid #fff;
	border-radius: 10px;
	text-align: center;
	padding-top: 3rem 0;
}

#fc_one {
	display:block;
}

#fc_two {
	display: none;
	padding: 3rem;
}

#game_bg {
	display: none; 
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
	background: url(../img/mushroom_kingdom_001.png) #000 no-repeat center center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}

#game_container {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 170px;
	height: 20%;
	background: #000;
	padding: 0;
	margin: 0;
}

#back_bg {
	/* display: none; */
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -98;
	background: url(../img/splash_intro_001.jpg) #fff no-repeat center center fixed;
	background-size: cover;
}

#back_container {
	/* display: none; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%); /* translate (-50%, -50%) */
	min-width: 400px;
	width: 50%;
	min-height: 400px;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.8);
	border: 5px solid #ff0000;
	border-radius: 10px;
	text-align: center;
	padding: 3rem 0;
}
/*
Splash screen with active bg
Game bg
Darkened bg
*/


/************
GAME ELEMENTS
************/
#mario_sprite {
	position: absolute;
	background-color: #ff0000;
	left: 47%;
	height: 100px;
	width: 100px;
}

#luigi_sprite {
	/*display: none;*/
	position: absolute;
	background-color: #00ff00;
	left: 53%;
	height: 100px;
	width: 100px;
}

.fireball {
	position: absolute;
	background-color: orange;
	left: 51%;
	top: 55%;
	height: 20px;
	width: 20px;
	z-index: 5;
}

.explode {

}

div.blk_missile {
	position: absolute;
	background-color: #fff;
	left: 48%;
	height: 100px;
	width: 100px;
}

div.red_missile {

}

div.red_missile_flame {

}

div.mushroom {

}

div.starpower {

}


/************
RESPONSIVE MEDIA
************/
@media screen and (max-width: 1040px) {
    #front_container {
		top: 25%;
		left: 25%;
		transform: translateX(0%) translateY(-20%);
		min-height: 600px;
		height: 60%;
		/*padding-top: 3rem 0;*/
    }

    #back_container {
		top: 25%;
		left: 25%;
		transform: translateX(0%) translateY(-20%);
		min-height: 500px;
		height: 50%;
    }
}

@media screen and (max-width: 800px) {
    #front_bg {
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -97;
    background: url(../img/bulletship_attack.jpg) #000 no-repeat center center fixed;
    background-size: cover;
    }

    #on_play {
        display: none;
    }
}

@media all and (max-width: 760px) {
    #front_container {
		top: 27%;
		left: 27%;
		transform: translateX(-8%) translateY(-22%);
		min-height: 650px;
		height: 80%;
		min-width: 300px;
		padding-left: 20px;
		padding-right: 20px;
    }

    #back_container {
		top: 27%;
		left: 27%;
		transform: translateX(-6%) translateY(-22%);
		min-height: 550px;
		min-width: 200px;
		padding-left: 20px;
		padding-right: 20px;
    }
}

@media all and (max-width: 500px) {
    #front_container {
		top: 27%;
		left: 27%;
		transform: translateX(-21%) translateY(-22%);
		min-height: 650px;
		min-width: 260px;
		padding-left: 20px;
		padding-right: 20px;
}