/***********************************
Author: Eric A. Boateng
Title: Super Missile Command Bros.
Created: December 16, 2015
Author URI: http://findtheant.com
Slack: @antwisted
Thanks for visiting! Support GA!
************************************/


/************
CSS RESETS
************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before,
q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video {
	display: block;
}


/************
PAGE ELEMENTS
************/
@font-face {
  font-family: 'Pretendo';
  src: url('Pretendo.eot');
  src:
  	url('Pretendo.eot?#iefix') format('embedded-opentype'),
  	url('Pretendo.woff') format('woff'),
  	url('Pretendo.ttf')  format('truetype'),
  	url('Pretendo.svg#Pretendo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'super_plumber_brothersregular';
    src: url('super_mario_title-webfont.eot');
    src: url('super_mario_title-webfont.eot?#iefix') format('embedded-opentype'),
         url('super_mario_title-webfont.woff2') format('woff2'),
         url('super_mario_title-webfont.woff') format('woff'),
         url('super_mario_title-webfont.ttf') format('truetype'),
         url('super_mario_title-webfont.svg#super_plumber_brothersregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'emulogicregular';
    src: url('super_mario_font-webfont.eot');
    src: url('super_mario_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('super_mario_font-webfont.woff2') format('woff2'),
         url('super_mario_font-webfont.woff') format('woff'),
         url('super_mario_font-webfont.ttf') format('truetype'),
         url('super_mario_font-webfont.svg#emulogicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#lead {
	font-family: 'Pretendo', 'Verdana', sans-serif;
	font-size: 3.5rem; /* 60px */
}

#r {
	display: inline-block;
	position: relative;
	bottom: 2.2rem; /* 37px */
}

#blk_begin {
	position: fixed;
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	background: #000000;
	z-index: 20000;
}

#blk_end {
	position: fixed;
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20000;
	animation: endFade 2s linear;
}

#antwisted {
	display: none;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ff0000;
	animation: slidedown 4s linear;
	-webkit-animation: slidedown 4s linear;
	-moz-animation: slidedown 4s linear;
}

#front_bg h1, h2, h3, h4, h5, h6 {
     font-family: 'super_plumber_brothersregular', 'Impact', serif;
     color: #fff;
}

#game_bg, #back_bg {
	font-family: 'emulogicregular', 'Bookman Old Style', serif;
}

#super {
	margin-bottom: -.7rem;
	padding-top: 2rem;
}

#missile_command {
	color: #ff0000 !important;
	text-transform: uppercase;
	font-size: 5rem;
	padding: 0 15px;
}

#bros {
	margin-top: -1.6rem;
}

#copyright {
	display: inline-block;
	font-family: 'Arial', serif;
	font-size: .7rem;
	color: #fff;
	text-align: left;
	width: 48%;
	padding: 1% 0 0 1%;
	cursor: pointer;
}

#sound {
	display: inline-block;
	font-family: 'Arial', serif;
	font-size: .7rem;
	color: #fff;
	text-align: right;
	width: 48%;
	padding: 1% 1% 0 0;
	cursor: pointer;
}

#start, #how_to, #play_again, #go_home, .go_back {
	cursor: pointer;
}

.box_header {
	padding-bottom: 2rem;
}

.gametext_big {
	font-family: 'emulogicregular', 'Palatino', serif;
	font-size: 1.8rem;
}

.gametext_med {
	font-family: 'emulogicregular', 'Palatino', serif;
	font-size: 1.4rem;
}

.gametext_sm {
	font-family: 'emulogicregular', 'Palatino', serif;
	font-size: 1rem;
}

#first, #second, #third, #fourth, #fifth {
	font-family: 'Verdana', sans-serif;
	font-size: 1.4rem;
	padding: .7rem;
/*	animation: bowser 2s linear;
	-webkit-animation: bowser 2s linear;
	-moz-animation: bowser 2s linear;*/
}

.bowser {
	display: none;
	position: fixed;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 2px 3px #000;
}

.hscore {
	animation: flash 1s linear infinite;
}

body {
	font-size: 10.5pt;
	line-height: 1.4;
	color: #fff;
	background: #000;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

button {
	font-family: 'emulogicregular', 'Arial', serif;
	font-size: 1.2rem;
	background: #ff0000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
	margin: 20px;
	padding: 12px 18px;
	border-radius: 10px;
	box-shadow: 2px 2px #fff;
}
/***
JS buttons:
#cons_button, #copyright_state, #go_home, #how_to, #pause_game, #play_again, #prompt, #quit_game, #start, .go_back
***/


/************
BODY CONTAINERS
************/
video#on_play { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/bulletship_attack.jpg) no-repeat;
    background-size: cover; 
}

#front_bg {
	display: none;
}

#front_container {
	display: none; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 450px;
	width: 55%;
	min-height: 450px;
	height: 55%;
	background-color: rgba(0, 0, 0, 0.8);
	border: 5px solid #fff;
	border-radius: 10px;
	text-align: center;
}

#fc_one {
	display:none;
}

#fc_two {
	display: none;
	padding: 3rem;
}

#fc_three {
	display: none;
	padding: 3rem;
}

#game_bg {
	display: none; 
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
	background: url(../img/mushroom_kingdom_001.png) #000 no-repeat center center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}

#game_container {
	display: none; 
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 120px;
	height: 10%;
	background: transparent;
	padding: 0;
	margin: 0;
}

#back_bg {
	display: none;
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -98;
	background: url(../img/splash_intro_001.jpg) #fff no-repeat center center fixed;
	background-size: cover;
}

#back_container {
	display: none; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 400px;
	width: 50%;
	min-height: 400px;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.8);
	border: 5px solid #ff0000;
	border-radius: 10px;
	text-align: center;
	padding: 3rem 0;
}


/************
GAME ELEMENTS
************/
#mute_sound {
	position: absolute;
	background-color: yellow;
	left: 5%;
	top: 1%;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

#quit_game {
	position: absolute;
	background-color: red;
	left: 95%;
	top: 1%;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

#time_box {
	position: absolute;
	left: 80%;
}

#score_box {
	position: absolute;
	left: 10%;
}

#mario_sprite {
	position: absolute;
	left: 45%;
	height: 100px;
	width: 100px;
	background-color: #ff0000;
	background: url(../img/mario_right.png) no-repeat;
	background-size: contain;
}

#luigi_sprite {
	display: none;
	position: absolute;
	left: 53%;
	height: 100px;
	width: 100px;
	background-color: #00ff00;
	background: url(../img/luigi_left.png) no-repeat;
	background-size: contain;
}

#game_over {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 599px;
	height: 102px;
	transform: translate(-50%, -50%);
	color: #ff0000;
	background: url(../img/game_over.png);
	animation: over_bounce 3s linear;
	-webkit-animation: over_bounce 3s linear;
	-moz-animation: over_bounce 3s linear;
	z-index: 20001;
}

.fireball {
	position: absolute;
	left: 50%;
	top: 84%;
	height: 34px;
	width: 34px;
	background-color: orange;
	background: url(../img/fireball.png) no-repeat;
	background-size: contain;
	z-index: 5;
	animation: spin 1s linear infinite;
}

.explode {
	position: fixed;
	height: 80px;
	width: 80px;
	transform: translate(-40px, -40px);
	background: url(../img/explosion_x1.png) no-repeat;
	background-size: contain;
	animation: spin 2s linear;
	animation-iteration-count: 3;
}

.blk_missile {
	position: absolute;
	top: 0%;
	height: 70px;
	width: 30px;
	border: 5rem #000;
	background: #000;
	background: url(../img/bullet_right.png) no-repeat;
	background-size: contain;
}

.red_missile {
	position: absolute;
	top: 0%;
	height: 70px;
	width: 30px;
	border: 5rem transparent;
	background: #ff0000;
	background: url(../img/red_right.png) no-repeat;
	background-size: contain;
}

.fire_missile {
	position: absolute;
	top: 0%;
	height: 70px;
	width: 30px;
	border: 5rem transparent;
	background: #ff0000;
	background: url(../img/fire_bullet.png) no-repeat;
	background-size: contain;
}

.mushroom {
/*	position: absolute;
	background: url();
	background: pink;
	top: 0%;
	left: 50;
	height: 100px;
	width: 100px; */
}

.fireflower {

}

.starpower {

}


/************
RESPONSIVE MEDIA
************/
@media screen and (max-width: 1040px) {
    #front_container {
		top: 25%;
		left: 25%;
		transform: translateX(0%) translateY(-20%);
		min-height: 600px;
		height: 60%;
    }

    #back_container {
		top: 25%;
		left: 25%;
		transform: translateX(0%) translateY(-20%);
		min-height: 500px;
		height: 50%;
    }
}

@media screen and (max-device-width: 1040px) and (orientation: landscape) {
    #front_container {
		top: 5%;
		left: 25%;
		transform: translateX(-6%) translateY(-26%);
		min-height: 470px;
		height: 70%;
		min-width: 300px;
		padding-left: 20px;
		padding-right: 20px;
    }

    #back_container {
		top: 5%;
		left: 25%;
		transform: translateX(-6%) translateY(-30%);
		min-height: 400px;
		min-width: 200px;
		padding-left: 20px;
		padding-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    #front_bg {
		position: fixed;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -97;
	    background: url(../img/bulletship_attack.jpg) #000 no-repeat center center fixed;
	    background-size: cover;
    }

    #on_play {
        display: none;
    }
}

@media all and (max-width: 760px) {
    #front_container {
		top: 27%;
		left: 27%;
		transform: translateX(-8%) translateY(-22%);
		min-height: 650px;
		height: 80%;
		min-width: 300px;
		padding-left: 20px;
		padding-right: 20px;
    }

    #back_container {
		top: 27%;
		left: 27%;
		transform: translateX(-6%) translateY(-22%);
		min-height: 550px;
		min-width: 200px;
		padding-left: 20px;
		padding-right: 20px;
    }

    #time_box {
		left: 75%;
	}
}

@media all and (max-width: 500px) {
    #front_container {
		top: 27%;
		left: 27%;
		transform: translateX(-21%) translateY(-22%);
		min-height: 650px;
		min-width: 260px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#time_box {
		left: 68%;
	}
}


/************
ANIMATIONS
************/
@keyframes slidedown {
	from {
		top: -5%;
	}
	to {
		top: 45%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	25% { 
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes flash {
	0% {
		color: yellow;
	}
	50% {
		color: red;
	}
	100% {
		color: yellow;
	}
}

@keyframes over_bounce {
	0% {
		top: -5%;
	}
	90% {
		top: 50%;
	}
	93% {
		top: 43%;
	}
	95% {
		top: 45%;
	}
	97% {
		top: 47%;
	}
	100% {
		top: 45%;
	}
}

@keyframes endFade {
	from {
		opacity: 0;
	}
	to {
		opacity: .7;
	}
}

@keyframes mario {
	0% {

	}
}

@keyframes luigi {
	0% {
	
	}
}

@keyframes explosion {
	0% {

	}
	100% {

	}
}

@keyframes blk_one {
	0% {
		left: 42%;
		background-color: black;
	}
	100% {
		left: 58%;
		top: 85%;
		background-color: red;
	}
}

@keyframes blk_two {
	0% {
		left: 95%;
	}
	100% {
		left: 15%;
		top: 85%;
	}
}

@keyframes blk_three {
	0% {
		left: 3%;
	}
	100% {
		left: 85%;
		top: 85%;
	}
}

@keyframes blk_four {
	0% {
		left: 10%;
	}
	100% {
		left: 80%;
		top: 85%;
	}
}

@keyframes blk_five {
	0% {
		left: 20%;
	}
	100% {
		left: 3%;
		top: 85%;
	}
}

@keyframes blk_six {
	0% {
		left: 30%;
	}
	100% {
		left: 78%;
		top: 85%;
	}
}

@keyframes blk_seven {
	0% {
		left: 35%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes blk_eight {
	0% {
		left: 59%;
	}
	100% {
		left: 47%;
		top: 85%;
	}
}

@keyframes blk_nine {
	0% {
		left: 69%;
	}
	100% {
		left: 39%;
		top: 85%;
	}
}

@keyframes blk_ten {
	0% {
		left: 79%;
	}
	100% {
		left: 31%;
		top: 85%;
	}
}

@keyframes blk_eleven {
	0% {
		left: 89%;
	}
	100% {
		left: 19%;
		top: 85%;
	}
}

@keyframes blk_twelve {
	0% {
		left: 99%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes red_one {
	0% {
		left: 99%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes red_two {
	0% {
		left: 89%;
	}
	100% {
		left: 19%;
		top: 85%;
	}
}

@keyframes red_three {
	0% {
		left: 79%;
	}
	100% {
		left: 31%;
		top: 85%;
	}
}

@keyframes red_four {
	0% {
		left: 69%;
	}
	100% {
		left: 39%;
		top: 85%;
	}
}

@keyframes red_five {
	0% {
		left: 59%;
	}
	100% {
		left: 47%;
		top: 85%;
	}
}

@keyframes red_six {
	0% {
		left: 49%;
	}
	100% {
		left: 2%;
		top: 85%;
	}
}

@keyframes red_seven {
	0% {
		left: 49%;
	}
	100% {
		left: 98%;
		top: 85%;
	}
}

@keyframes red_eight {
	0% {
		left: 35%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes red_nine {
	0% {
		left: 29%;
	}
	100% {
		left: 92%;
		top: 85%;
	}
}

@keyframes red_ten {
	0% {
		left: 19%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes red_eleven {
	0% {
		left: 9%;
	}
	100% {
		left: 80%;
		top: 85%;
	}
}

@keyframes red_twelve {
	0% {
		left: 3%;
	}
	100% {
		left: 60%;
		top: 85%;
	}
}

@keyframes fire_one {
	0% {
		left: 99%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes fire_two {
	0% {
		left: 89%;
	}
	100% {
		left: 19%;
		top: 85%;
	}
}

@keyframes fire_three {
	0% {
		left: 79%;
	}
	100% {
		left: 31%;
		top: 85%;
	}
}

@keyframes fire_four {
	0% {
		left: 69%;
	}
	100% {
		left: 39%;
		top: 85%;
	}
}

@keyframes fire_five {
	0% {
		left: 59%;
	}
	100% {
		left: 47%;
		top: 85%;
	}
}

@keyframes fire_six {
	0% {
		left: 49%;
	}
	100% {
		left: 2%;
		top: 85%;
	}
}

@keyframes fire_seven {
	0% {
		left: 49%;
	}
	100% {
		left: 98%;
		top: 85%;
	}
}

@keyframes fire_eight {
	0% {
		left: 35%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes fire_nine {
	0% {
		left: 29%;
	}
	100% {
		left: 92%;
		top: 85%;
	}
}

@keyframes fire_ten {
	0% {
		left: 19%;
	}
	100% {
		left: 10%;
		top: 85%;
	}
}

@keyframes fire_eleven {
	0% {
		left: 9%;
	}
	100% {
		left: 80%;
		top: 85%;
	}
}

@keyframes fire_twelve {
	0% {
		left: 3%;
	}
	100% {
		left: 60%;
		top: 85%;
	}
}

@keyframes mushroom {
	100% {

	}
}

@keyframes fireflower {
	100% {

	}
}

@keyframes starpower {
	100% {

	}
}

@keyframes fireball { 
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(20, 20);
	}
}
