/************************************
Author: Eric A. Boateng
Created: December 16, 2015
Author URI: http://findtheant.com
Slack: @antwisted
Thanks for visiting! Support GA!
************************************/

#container {

}

div.missle {

}

div.enemy_missle {

}